*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: aqua;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1.5rem;
    font-size: 15vmin;
    color:orangered;
}
#newgame{
   height: 40px;
   width: 100px;
   font-size: 15px;
   font-weight: bold;
   color: rgb(248, 109, 10);
   border-radius: 8px;

}